/*body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  /*background: #444;
  background-attachment: fixed;
  background-size: cover;
}*/

/* The only rule that matters */
/*#video-background {
/*  making the video fullscreen  */
  /*position: fixed;
  right: 0;
  bottom: 0;
  overflow: hidden;

  min-width:50%;
  min-height: 50%;
  width: auto;
  height: auto;
  object-fit: cover;
  z-index: -100;*/

/*}*/

 /*These just style the content */
/*article {
 just a fancy border
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
}*/

/*h1 {
  position: absolute;
  top: 70%;
  width: 100%;
  font-size: 36px;
  letter-spacing: 3px;
  color: #392e81;
  font-family: Oswald, sans-serif;
  /*text-align: center;*/
/*/

/*h1 span {
  font-family: sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}*/

/*h1 span a {
  color: #fff;
}*/


/*h3 {
  position: absolute;
  top: 40%;
  width: 100%;
  font-size: 30px;
  letter-spacing: 3px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
}*/
/*.btn-toolbar{
  position: absolute;
  top: 40%;
  width: 100%;

}

#ex1Slider .slider-selection {
	background: #BABABA;
}*/
