{% extends 'base.html' %}
{% block content %}
<!--(happy int, excited int, energetic int, angry int, stressed int, tired int, upset int, sad int, calm int, content int, confused int)-->
<!-- <video autoplay loop id="video-background" muted plays-inline>
  <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761" type="video/mp4">
</video> -->
<div class="row">
<h1 class="text-center">How are you feeling?</h1>
</div>
<br><br>
<form action=" {{ url_for('add_submission')}}" method="post">
  <!--row1-->
<div class="row">
  <div class="col-sm-6">
    <!--emotions: happy, excited, energetic, angry, stressed, frustrated, upset, tired, lost, sad, calm, content (in this order)-->
    <!--slider 1-->
    <div class= "row subrow1">
      <div class="col-sm-4">

        <h4>Happy (0-10): </h4>
      </div>
      <div class="col-sm-6">
        <!-- <span align="left">0                                10</span>  -->
      <input type="range" name = "happy" value="{{
          request.form.happy }}" >

      </div>
  </div>
    <!--slider 2-->
    <div class= "row subrow2">
      <div class="col-sm-4">
        <h4>Excited: </h4>
      </div>
      <div class="col-sm-6">
        <input type="range" name = "excited" value="{{
          request.form.excited }}" >
      </div>
    </div>
    <!--slider 3-->
    <div class= "row subrow3">
      <div class="col-sm-4">
        <h4>Energetic: </h4>
      </div>
      <div class="col-sm-6">
        <input type="range" name = "energetic" value="{{
          request.form.energetic }}" >
      </div>
    </div>

    <!--slider 4-->
    <div class= "row subrow4">
      <div class="col-sm-4">
        <h4>Angry: </h4>
      </div>
      <div class="col-sm-6">
        <input type="range" name = "angry" value="{{
          request.form.angry }}" >
      </div>
    </div>

    <!--slider 5-->
    <div class= "row subrow5">
      <div class="col-sm-4">
        <h4>Stressed: </h4>
      </div>
      <div class="col-sm-6">
        <input type="range" name = "stressed" value="{{
          request.form.stressed }}" >
      </div>
    </div>

    <!--slider 6-->
    <div class= "row subrow9">
      <div class="col-sm-4">
        <h4>Confused: </h4>
      </div>
      <div class="col-sm-6">
        <input type="range" name = "confused" value="{{
          request.form.confused}}" >
      </div>
    </div>

    <!--slider 7-->
    <div class= "row subrow10">
      <div class="col-sm-4">
        <h4>Sad: </h4>
      </div>
      <div class="col-sm-6">
        <input type="range" name = "sad" value="{{
          request.form.sad}}" >
      </div>
    </div>

    <!--slider 8-->
    <div class= "row subrow11">
      <div class="col-sm-4">
        <h4>Calm: </h4>
      </div>
      <div class="col-sm-6">
        <input type="range" name = "calm" value="{{
          request.form.calm}}" >
      </div>
    </div>


  </div>

  <div class="col-sm-6">
    <h3>Reasons for your mood: </h3>
            <br><br>
<!-- tags: midterms/exams, coursework, job, friends, family, relationship,
extracurriculars, future, weather, politics, finances, physical health, mental health, homesickness, religious/spiritual-->
    <div class="btn-toolbar" >
          <label class="btn btn-primary button"><input type="checkbox" name = "midterms_exams"> Midterms/Exams</label>
          <label class="btn btn-primary button"><input type="checkbox" name = "coursework"> Coursework</label>
          <label class="btn btn-primary button"><input type="checkbox" name = "job"> Job</label>
          <label class="btn btn-primary button"><input type="checkbox" name= "friends"> Friends</label>
          <label class="btn btn-primary button"><input type="checkbox" name= "family"> Family</label>
          <label class="btn btn-primary button"><input type="checkbox" name= "relationship"> Relationship</label>
          <label class="btn btn-primary button"><input type="checkbox" name= "extracurriculars"> Extracurriculars</label>
          <br><br>
          <label class="btn btn-primary button"><input type="checkbox" name= "future"> Future</label>
          <label class="btn btn-primary button"><input type="checkbox" name= "weather"> Weather</label>
          <label class="btn btn-primary button"><input type="checkbox" name= "politics"> Politics</label>
          <label class="btn btn-primary button"><input type="checkbox" name= "fiances"> Finances</label>
          <label class="btn btn-primary button"><input type="checkbox" name= "physical health"> Physical health</label>
          <label class="btn btn-primary button"><input type="checkbox" name= "mental health"> Mental health</label>
          <br><br>
          <label class="btn btn-primary button"><input type="checkbox" name= "homesickness"> Homesickness</label>
          <label class="btn btn-primary button"><input type="checkbox" name= "religious_spiritual"> Religious/spiritual</label>
    </div>
  </div>

</div>
<div class="row button text-center">
<input type="submit" value="Submit">
</div>
      </form>




{% endblock %}
